@charset "utf-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype'),url('fontes/idroid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(159, 235, 108);
    text-align: center;
    border-radius: 1px;
    font-family: idroid;

}

main {
    background-color: white;
    border-radius: 1px;
    box-shadow: 5px 5px 15px rgba(0, 28, 34, 0.452);
    width: 1400px;
    padding: 50px;
    margin: auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    color: rgb(255, 255, 255);
    font-family: idroid;
    font-size: large;
}

h2{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(159, 235, 108) ;
}

.sub{
    color: white;
}

header {
    background-color: green;
    border: 10px;
    padding: 10px;
    margin: 0px;

}

.menu{
    color: white;
}