@charset "utf-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    8/height: 100%;
}

body {
    background-image: linear-gradient(to right, #011F26, #03A688);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 28, 34, 0.452);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:
        #01464d;
    text-align: center;
    text-shadow: 1px 1px 2 px rgba(0, 44, 49, 0.445);
}

h2 {
    color: #025E73;
}

p {
    text-align: justify;
}